body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Farm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333; /* Dark gray text */
}

header {
    background-color: rgba(76, 175, 80, 0.8); /* Green header with opacity */
    color: #fffffff6; /* White text */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.749); /* White background with opacity */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #1111e4aa;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    height: 40px; /* Make dropdown height */
}

input[type="submit"] {
    height: 50px;
    background-color: #00ff2ab6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}


input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: rgba(76, 175, 80, 0.8); /* Green footer with opacity */
    color: #fff; /* White text */
}
